{{extend '../layouts/home.html'}} 

{{block 'title'}}{{'多人社区 - 设置页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    {{include '../partials/settings-nav.html'}}
    <div class="col-lg-5">
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">账号</label>
          <p class="form-control-static">{{ user.email }}</p>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">昵称</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" value="{{user.nickname}}">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">介绍</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
          <label>性别</label>
          <div>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 男  
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 女
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 保密
            </label>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">生日</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
        </div>
        <button type="submit" class="btn btn-success">保存</button>
      </form>
    </div>
    <div class="col-lg-2 profile-avatar">
      <dl>
        <dt>头像设置</dt>
          <dd>
            <span class="avatar" id="updateImage">
              上传图片
            </span>
            <img id="prewImage">
            <input type="file" name="file" id = "input_file" style="display: none;"
            accept="image/gif,image/jpeg,image/jpg,image/png,image/svg" >
            <div>
              <button class="btn btn-default" href="">上传头像</button>
            </div>
          </dd>
      </dl>
    </div>
  </div>
</section>
{{/block}}
{{block 'script'}}
<script>
$(document).ready(function(){
  $('#updateImage').clcik(function(e) {
    e.preventDefault();
    var images = $('#input_file').files[0];
    // reads.readAs
  })
});
</script>
{{/block}}