<!-- 模板文件 -->
<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{block 'title'}}默认标题{{/block}}</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <!-- 相当于内嵌组件 -->
    {{block 'head'}}{{/block}}
</head>
<body>
    <!-- 引入组件 -->
    {{include '../partials/header.html'}} 
    {{block 'body'}}{{/block}}
    {{include '../partials/footer.html'}}
    <script src="/node_modules/jquery/dist/jquery.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
    {{block 'script'}}{{/block}}
</body>
</html>